@page
@model BlabberApp.Client.Pages.RegisterModel
@using BlabberApp.Services
@inject IUserService UserService
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <label>Email</label>
    <input type="email" name="emailaddress">
    <input type="submit">
</form>

<div id="welcome" style="margin-left:2em; margin-top:1em">
    <h4>@Model.message_user</h4> @Model.Email <h4>@Model.message_succ</h4>
</div>
